* {
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

body {
	font-family: "Open sans", sans-serif;
}

:root {
	--section-padding: 100px;
}

/*Start The Project*/
.container {
	margin: auto;
}

/*Start Header*/
header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 35px 10px;
	font-family: "Raleway", sans-serif;
}

header ul li {
	display: inline-block;
	margin-left: 20px;
	font-size: 0.9rem;
}
/*End Header*/

/*Start Landing*/
section.landing {
	padding: var(--section-padding) 10px;
	display: grid;
	grid-template-columns: repeat(2, 50%);
	min-height: calc(100vh - 95px);
	align-items: center;
}

section.landing .text {
	display: flex;
	align-items: flex-start;
	justify-content: center;
	gap: 10px;
	flex-direction: column;
}

section .text > h1 {
	font-size: 2.4rem;
	color: hsl(243, 87%, 12%);
	font-family: "Raleway", sans-serif;
	font-weight: 700;
}

section .text > p {
	font-size: 1.2rem;
	color: hsl(243, 87%, 12%);
}

section.landing form {
	width: 80%;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
}

section.landing form input {
	padding: 8px 15px;
	border: #000 solid 1px;
	flex-grow: 1;
}

section.landing form button {
	background-color: hsl(224, 93%, 58%);
	padding: 9px 25px;
	color: white;
}

@media (max-width: 1024px) {
	section.landing {
		grid-template-columns: 90%;
		justify-content: center;
		gap: 25px;
	}

	section .text {
		order: 2;
		text-align: center;
		align-items: center !important;
		gap: 20px;
	}

	section .text > h1 {
		font-size: 2rem;
	}

	section.landing form {
		flex-direction: column;
		align-items: stretch;
	}
}
/*End Landing*/

/*Start About*/
section.about {
	background: url("images/bg-curve-desktop.svg") no-repeat center bottom;
	background-size: cover;
	padding: var(--section-padding) 10px;
}

section.about .container {
	display: grid;
	grid-template-columns: repeat(2, calc(50% - 20px));
	align-items: center;
	justify-items: center;
	gap: 40px;
}

@media (max-width: 1024px) {
	section.about .container {
		grid-template-columns: 90%;
		justify-content: center;
		justify-items: center;
		gap: 25px;
	}

	section.about .container > img {
		max-width: 80%;
	}

	section.about .container .text {
		display: flex;
		flex-direction: column;
	}
}

@media (max-width: 769px) {
	section.about {
		background: url("images/bg-curve-mobile.svg") no-repeat center bottom;
		background-size: cover;
	}
}

section.about .text > p {
	margin: 20px 0px;
}

section.about .text a {
	padding-bottom: 5px;
	color: #3DA08F;
	border-bottom: 1px solid #3DA08F;
}

section.about .text a img {
	display: inline-block;
	margin-left: 5px;
	height: 20px;
	width: auto;
}

section.about .text .review {
	padding: 20px;
	margin-top: 40px;
	background-color: #fff;
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	gap: 20px;
	max-width: 400px;
}

section.about .text .review p {
	font-size: 0.9rem;
}

section.about .text .review .user {
	display: flex;
	align-items: center;
	gap: 10px;
}

section.about .text .review .user span,
section.about .text .review .user p {
	color: hsl(243, 87%, 12%);
	font-family: "Raleway", sans-serif;
}

section.about .text .review .user span {
	font-weight: 700;
}

section.about .text .review .user p {
	font-size: 0.7rem;
}
/*End About*/